.home {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.message {
    margin-top: 250px;
    font-size: 1.2em;
    font-weight: bold;
    color: rgb(2, 151, 161);
}